.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #5466f4;
    color: white;
    border-bottom: 1px solid white
}

.img {
    width: auto;
    height: auto; /* Устанавливаем width и height в auto для поддержания соотношения сторон */
    max-width: 80px;
    max-height: 80px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.title {
    margin: 0 1rem;
    font-size: 1.5rem;
}

.right_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 150px;
}

.weekNumber {
    margin-left: auto;
    margin-right: 1rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;

   }
.button2 {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    width: 100px;
}


.button:hover, .button2:hover {
    background-color: #dddddd;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: bold;


}

/* Объединенные медиазапросы */
@media (max-width: 430px) {
    .right_block {
        flex-direction: column;
        align-items: flex-start;
    }

    .weekNumber {
        margin: 0 0 0.5rem 0; /* Добавляем отступ между элементами */
    }

    .buttons {
        width: 100%;
        justify-content: space-between;
    }
}
